<!-- Header part -->
<%- include("header") -%>



  <!-- About page top section -->
  <section class="row top-section">
    <div class="col-lg-6 content-top">
      <h1>ABOUT US</h1>
      <p>WeCare community is build up to serve the sole purpose to abridge the gap between the Doctors & Patients. </p>
      <h1>OUR MISSION</h1>
      <p>By providing the best in class healthcare facilities at your fingertips,
      our team works tirelessely to provide you a seemless experience and healthcare facilities across the globe. 
      We aim to build a better society, a healthy society and of-course - a Happy One! Healthcare Everywhere 'cause WeCare</p>

    </div>
    <div class="col-lg-6">
      <img class = "img-about-us"src="/photos/about-us.jpg" alt="">
    </div>
  </section>



  <!-- About page 2nd section profile cards -->

  <section class="profile-cards">
    <h2 class="about-us-title">OUR TEAM HERE</h2>
    <div class="container-fluid bottom-section">
      <div class="row">

        <div class="col-lg-4 col-md-6">

          <div class="card profile-card bg-shadow">
            <div class="card-img-block">
              <img class="img-fluid" src="photos/aashika_cover.jpeg" alt="Card image cap">
            </div>
            <div class="card-body pt-5">
              <img src="photos/aashika.jpeg" alt="profile-image" class="profile" />
              <h5 class="card-title">Aashika Jain</h5>
              <p class="card-text">Persuing BTech from MANIT Bhopal in Electronics and Communication Engg.</p>
              <div class="icon-block">
                <a href=" https://www.facebook.com/aashika.jain.52035"><i class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/Aashika__jain"> <i class="fa fa-twitter"></i></a>
                <a href="https://www.instagram.com/aashika_.jain__/"> <i class="fa fa-instagram"></i></a>
              </div>
            </div>  
          </div>
        </div>

        <div class="col-lg-4 col-md-6">

          <div class="card profile-card bg-shadow">
            <div class="card-img-block">
              <img class="img-fluid" src="photos/Amrit.png" alt="Card image cap">
            </div>
            <div class="card-body pt-5">
              <img src="photos/Amrit_profile.jpeg" alt="profile-image" class="profile" />
              <h5 class="card-title">Amrit Dalal</h5>
              <p class="card-text">Persuing BTech from MANIT Bhopal in Electronics and Communication Engg.</p>
              <div class="icon-block">
                <a href="https://www.facebook.com/shubham.dixit.73550/"><i class="fa fa-facebook"></i></a>
                <a href="about-us.html"> <i class="fa fa-twitter"></i></a>
                <a href="https://www.instagram.com/shubhamdixit760"> <i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">

          <div class="card profile-card bg-shadow">
            <div class="card-img-block">
              <img class="img-fluid" src="photos/diya_cover.jpeg" alt="Card image cap">
            </div>
            <div class="card-body pt-5">
              <img src="photos/diya_profile.jpeg" alt="profile-image" class="profile" />
              <h5 class="card-title">Diya Khandelwal</h5>
              <p class="card-text">Persuing BTech from MANIT Bhopal in Electronics and Communication Engg.</p>
              <div class="icon-block">
                <a href="https://www.facebook.com/profile.php?id=100080333140599"><i class="fa fa-facebook"></i></a>
                <a href="https://mobile.twitter.com/khandelwalDiya"> <i class="fa fa-twitter"></i></a>
                <a href="https://www.instagram.com/diyakhandelwal27"> <i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">

          <div class="card profile-card bg-shadow">
            <div class="card-img-block">
              <img class="img-fluid" src="photos/Hitesh_2.jpeg" alt="Card image cap">
            </div>
            <div class="card-body pt-5">
              <img src="photos/Hitesh.jpeg" alt="profile-image" class="profile" />
              <h5 class="card-title">Hitesh Vishnoi</h5>
              <p class="card-text">Persuing BTech from MANIT Bhopal in Electronics and Communication Engg.</p>
              <div class="icon-block">
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""> <i class="fa fa-twitter"></i></a>
                <a href=""> <i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">

          <div class="card profile-card bg-shadow">
            <div class="card-img-block">
              <img class="img-fluid" src="photos/manan_2.jpeg" alt="Card image cap">
            </div>
            <div class="card-body pt-5">
              <img src="photos/manan.jpeg" alt="profile-image" class="profile" />
              <h5 class="card-title">Manan Shrishrimal </h5>
              <p class="card-text">Persuing BTech from MANIT Bhopal in Electronics and Communication Engg.</p>
              <div class="icon-block">
                <a href="https://m.facebook.com/100012675991608/"><i class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/mananshrishrim2"> <i class="fa fa-twitter"></i></a>
                <a href="https://www.instagram.com/manan_shrishrimal_/"> <i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>


  <!-- Footer part -->
  <footer class="footer">
    <div class="container-fluid">
      <a class="quick-links" href="about-us">About Us</a>
      <a class="quick-links" href="contact-us">Contact Us</a> <br>
      <a class="footer-link" href="index.html"><i class="social-icon icon fab fa-facebook-f"></i></a>
      <a class="footer-link" href="index.html"><i class="social-icon icon fab fa-twitter"></i></a>
      <a class="footer-link" href="index.html"><i class="social-icon icon fab fa-instagram"></i></a>
      <p style="color: white;">© Copyright 2022 WeCare</p>

    </div>
  </footer>


  <!-- Bootstrap Scripts-->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>


</body>

</html>
