
<!-- Header part -->
<%- include("header") -%>


<!-- Main Page Intro Prt -->
  <section id="first">
    <div class="title-intro ">
      <h2 class="first-page-main-title">WeCare</h2>
      <h3 class="first-page-main-content" style="font-family: cursive;" >HealthCare Everywhere 'cause WeCare. <br></h3>
       
      <h4 class="first-page-main-content">A platform for the best personalised advice from the doctors worldwide with various best-in-class online features and facilities.
      Join us Today!</h4>
    </div>
  </section>

<!-- Footer part -->
<%- include("footer") -%>
